n8n/ingreso-tarea.json
{
  "name": "Gestion pendientes - ingreso tarea",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tareas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0b3ae01b-5b60-433e-9e3a-b939b92926de",
      "name": "Webhook",
      "webhookId": "4985c271-ec33-4d1f-a6c6-b788206a67da"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=Sos un asistente personal de gestión de tareas de un ejecutivo en Bolivia (BBO).\nTu único trabajo es convertir un mensaje en lenguaje natural en una tarea estructurada.\n\nFecha de hoy: {{ $now.format('yyyy-MM-dd') }}\n\nRespondé ÚNICAMENTE con un objeto JSON válido, sin texto antes ni después, sin markdown.\n\nReglas:\n- Titulo: acción principal, máx 60 caracteres, empezá con verbo infinitivo\n- Categoria: solo una de: Directorio, Finanzas, Legal, RRHH, Abastecimiento, TI\n- Prioridad: Alta (urgente/hoy/mañana/≤2 días), Media (esta semana), Baja (sin apuro/>2 semanas)\n- Fecha_Limite: formato YYYY-MM-DD calculada desde hoy, vacío si no se menciona\n- Tiempo_min: estimado en minutos (llamada=15, revisión doc=30, reunión=60-120)\n- Estado: siempre \"Pendiente\"\n- ID: siempre \"\"\n\nFormato de respuesta:\n{\"ID\":\"\",\"Titulo\":\"...\",\"Estado\":\"Pendiente\",\"Prioridad\":\"Alta|Media|Baja\",\"Categoria\":\"...\",\"Fecha_Limite\":\"YYYY-MM-DD\",\"Tiempo_min\":30,\"Notas\":\"...\"}"
            },
            {
              "content": "={{ $json.body.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "9d189e23-e28c-4311-ba04-84694892cabe",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "Jtp7e0UB8UqKtoyM",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const texto = $input.first().json.content[0].text;\n\n// Limpiar markdown si Claude lo envuelve en ```json ... ```\nconst limpio = texto.replace(/```json\\n?/g, \"\").replace(/```\\n?/g, \"\").trim();\n\nconst tarea = JSON.parse(limpio);\nreturn [{ json: tarea }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "f4504ef4-face-4e59-af64-78d541f22c0c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbyDhfZs_i6HI-W7FbBN33YHPX1166vUyrroK0SORG0zF8k_A5wEHSw3a3vjK1KqAzAVpw/exec",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        0
      ],
      "id": "065499ba-a36e-4f18-b0e1-4c1dea2a0cfa",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "294d862a-923d-4197-8522-05640e606052",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc41ad27df3394ccab95873c5c265e1ef1a5cc10f65c9a9d22d8a74007f0f200"
  },
  "nodeGroups": [],
  "id": "4wNrKUYycx71TlDA",
  "tags": []
}